body {
    background: linear-gradient(135deg, #6c757d, #343a40);
    background-size: cover;
    background-attachment: fixed;
    color: #000;
}
.navbar {
    background-color: #343a40 !important;
}
.pesquisa-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
}
.pesquisa-card .card-header {
    background-color: #343a40;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    font-weight: bold;
}
.pesquisa-card .form-group {
    margin-bottom: 20px;
}
.pesquisa-card .form-control {
    border-radius: 10px;
}
.pesquisa-card .btn-custom {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #343a40;
    border-radius: 10px;
}
.pesquisa-card .btn-custom:hover {
    background-color: #ffb400;
    border-color: #ffb400;
}
.criar-receita-card {
    display: none;
}
.criar-receita-card .card-header {
    background-color: #343a40;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    font-weight: bold;
}
#formbotao {
                background-color: #ffc107;
    border-color: #ffc107;
    color: #343a40;
    border-radius: 10px;
        }