body {
    background: linear-gradient(135deg, #6c757d, #343a40);
    background-size: cover;
    background-attachment: fixed;
    color: #000; /* changed to black */
}

.navbar {
    background-color: #343a40 !important;
}

.recipe {
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.recipe:hover {
    transform: scale(1.03);
}

.recipe h2 {
    color: #343a40;
}

.recipe h3 {
    color: #ffc107;
}

.recipe-content {
    padding: 10px;
}

.recipe button {
    background-color: #ffc107;
    border: none;
    color: #343a40; 
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.recipe button:hover {
    background-color: #ffb400;
}
